#menu-top { background:url(images/red/menu-top.png) no-repeat; }
#menu-content { background:url(images/red/menu-content.png) repeat-y; }
#menu-bottom { background:url(images/red/menu-bottom.png) no-repeat; }
	ul#top-menu a span { color: #ffc8aa; }
ul#top-menu li ul { background: url(images/red/dropdown-bottom.png) no-repeat bottom left; }
span.dropdown-top { background: url(images/red/dropdown-top.png) no-repeat; }