.nav_top { display: none; }
.nav_bottom { display: none; }
#navwrap { border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
#featured .slider_shadow { height: 13px; overflow: hidden; display: block; }
.banner span { margin: 16px 0 0 50px; }
.blurbs_shadow, div.avatar, .thumb .shadow { background-repeat: no-repeat; }
#search-bar #searchinput { padding-top: 8px; }